version: "3.9"

services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.5.0
    container_name: keycloak
    command: start-dev
    restart: unless-stopped
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://10.9.23.101:5432/tmp
      KC_DB_USERNAME: me
      KC_DB_PASSWORD: 12345

      KC_HOSTNAME: localhost
      KC_BOOTSTRAP_ADMIN: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: 123
    ports:
      - "8080:8080"
    volumes:
      - keycloak_data:/opt/keycloak/data

volumes:
  keycloak_data: